version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: sample_data
      MYSQL_USER: wgeorge
      MYSQL_PASSWORD: userpassword
    ports:
      - "3306:3306"
    volumes:
      #- mysql_data:/var/lib/mysql 
      - ./init-scripts/:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10

volumes:
  mysql_data: